/* tal y tanto arriba */

@font-face {
font-family: tex;
/* src: url(fonts/texgyreheroscn-regular.otf); */
src: url(fonts/texgyreheros-regular.otf);

}
@font-face {
font-family: tex-bold;
src: url(fonts/texgyreheroscn-bold.otf);
}
@font-face {
font-family: mono;
src: url(fonts/JetBrainsMono-Regular.woff2);
}

@font-face{
  font-family: italo;
  src: url(fonts/Junicode-ItalicCondensed.ttf);
  /* src: url(fonts/texgyreheros-regular.otf); */
}
::-webkit-scrollbar {
  display: none;
}


*{
  border-color:#e2e2e2;

  scrollbar-width:none;
  -ms-overflow-style:none;
    /* text-shadow: 0 0 12px #e2e2e2; */

        }


/* ::selection {
  color:#60fcae;
} */

body{
  background-image: url('images/main_bg-b.png');
  /* background-color: #e2e2e2; */
  /* overflow-y:scroll; */
  /* margin:10px; */
}


a:link:hover{
  cursor: pointer;
  /* color:#60fcae; */
}

a:link:visited{
  color:#60fcae;
}

.contact:hover{
  /* color:#60fcae; */

  transition: 0.1s;
}
#ido{
  color:#777;
}



@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


.loader{
  position: fixed;
  display:flex;
  align-content: center;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  width:100%;
  height:100%;
  /* bottom:0; */
  /* border: 16px solid #e2e2e2;
  border-top: 16px solid #60fcae; */
  border-radius: 50%;
  /* width: 120px;
  height: 120px; */
  animation: spin 12s linear infinite;
  background-color:#333;

}

.loader p {
  margin:2px;
  text-align: right;
}

body {
  /* overflow: hidden; */
  /* overflow-y: hidden; */
  margin:0;
  padding: 0;
  /* background: rgb(96,252,174);
  background: linear-gradient(0deg, rgba(96,252,174,1) 0%, rgba(242,242,242,1) 25%, rgba(242,242,242,1) 80%, rgba(96,252,174,1) 100%); */
}


.demo{
  /* margin: 2px; */
  display: inline-block;
  background-size: cover;
  background-position: 50% 50%; }

.twocolumn{
  /* margin-top: 111px; */
  display: grid;
  /* grid-template-columns: 50% 50%; */
  /* border-left:solid; */
  border-width: thin;
  /* margin: 0 0 0 25%; */
  z-index: 99999;
  align-items: baseline;

  /* background-color: #999; */

}

.bio, .reachout, .ido{
  /* font-size: 26px; */
  position: absolute;
  /* max-width: 25%; */
  width: 100%;
  z-index: 6;
  /* margin: -4px 0 0 0; */
  justify-content: center;
  /* text-align: center; */
  align-items: center;
  /* text-shadow: px 0 0 #60fcae; */
  /* font-family: tex; */
  color: #e2e2e2;
  touch-action: manipulation;
  /* line-height: 1.5em; */

  /* background-color: red; */

}

.bio a:hover {
  cursor: pointer;
  color:#60fcae;
}


#about{
  font-family: tex;
  font-size: 16px;
  /* max-width: 380px; */

  display: block;
  color: #e2e2e2;
  width: 100%;
  
  border-radius: 0 0 50px 50px;
  /* background-color: #e2e2e2; */
  /* margin-top:-8px; */
  position: fixed;
  bottom:0;
  padding: 0;
  /* word-break: break-all; */

  /* white-space:  pre-wrap; */
}

#about a{
  /* color:#e2e2e2; */
  /* font-size: 16px; */
  /* font-family: italo; */

}

#about2{
  position: relative;
  height: 100px;
  /* background-color: red; */
  display: block;
  color: #e2e2e2;
  /* margin-top:12px; */
  /* position: fixed; */
  font-size: 16px;
  line-height: 0.8em;
  top:0;
  padding: 0;
  max-width: 370px;
  max-height: 100px;
  height: 100%;

  font-family: tex;


}

.ido{
  bottom:24px;
}

.bio p, .bio img {
  /* max-width: 85%;
  margin:0 0 22px 22px; */
  margin:-6px 0 6px -4px;


  /* max-width: 230px; */
}
.bio img{
  position: relative;

  width: 100%;
  object-fit: cover;
  display: block;

}


.bio a {
  margin-left: 4px;
}



.displayCaption{
  /* filter: blur(1px); */
  /* max-width: 100px; */
  opacity: 70%;
  font-family: italo;
  position: absolute;
  /* display: grid; */
  display: inline;
  
  justify-content: center;
  /* grid-template-columns: 50% 50%; */
  /* display: none; */
  z-index: 6;
  width: 100%;

  height: 100%;
  /* margin: auto auto auto auto; */
  text-shadow: 0 0 12px #333;
  /* top:0;
  left: 0;
  bottom: 0;
  right: 0; */
  color: #e2e2e2;
  /* mix-blend-mode: difference; */
  /* transform: rotate(25deg); */
  margin-top: -12px;
  font-size: 20px;
  text-align: right;
  align-items: center;
  /* bottom: 0; */
  /* background-color: red; */
    /* justify-content: stretch; */
  z-index: 99;
  pointer-events: none;

}

.back{
  position: fixed;
  z-index:3;
  isolation: isolate;
  /* mix-blend-mode: multiply; */
  /* opacity: 75%; */
  mix-blend-mode: darken;

}
.back2{
  position: fixed;
  z-index:98;
  /* display: none; */
  isolation: isolate;
  /* pointer-events: none; */

}

.screen img, .back img, .back2 img{
  /* pointer-events: none; */
  object-fit: cover;
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: fixed;
  top: 0; left: 0; bottom: 0; right: 0;
  width: 100%;
  height: 100%;

}
.back2 img{
  width:50%;
  height: 50%;
  opacity: 80%;
  /* height: auto; */
  margin: auto;
  display: block;
  /* filter:blur(4px) */
  /* filter: drop-shadow(0px 0px 22px #333333); */
  /* border-radius: 6px; */
}


.imgcontainer{
  z-index: 100;
  display: inline;
  width: 100%;
  text-align: center;
  display: fixed;
  /* margin-top: 100px;
  margin-bottom: 100px; */
  /* mix-blend-mode: hard-light; */


}

.projects{

  width: 100%;
  height: 100%;
  /* background-color: #60fcae; */
  position: absolute;
  /* overflow-y: hidden; */
  /* margin-bottom:100px; */
  display:flex;
}
.projects, .description{
  font-family: italo;
  font-size: 14px;

  /* max-width: 500px; */
  text-decoration: none;
  color: #e2e2e2;
  /* justify-content: center; */
  text-align: left;
  /* max-width: 500px; */
  /* max-width: 100%; */

  /* background-color: #33333350; */
  /* border-style: solid;
  border-width: thin; */
  /* margin: 4px 0 4px -2px; */
  /* overflow-y:hidden; */
  /* display: none; */
  max-height:100%;
  height:100%;

}

.description {
  opacity: 75%;
  font-family: tex;

  word-break: break-word;
  max-width: 25%;

}

.description a{
  color:#333;

}

.description:hover{
  cursor: pointer;
  /* color:#60fcae; */
}

#description:hover {
  filter:blur(2px);
}
.projects a {
  line-height: 1.2em;
}

#vertical {
  max-width: 30%;
}

a{
  text-decoration: none;
}


#list{
  /* position:a; */
  position: absolute;
  display: grid;
  /* grid-template-columns: 50% 50%; */
  /* margin:0; */
  width: 100%;
  height: 100%;
  overflow: scroll;
  justify-content: left;
  align-content: center;
  /* margin: 100px 0px 0px 0px; */
}

#external{
  font-family: tex;
  /* transform: rotate(25deg); */
  /* display: none; */
  font-size: 14px;
  text-align: left;
  /* padding: 0 0 5% 5%; */
  /* padding: 0px 24px 30px 24px; */
  /* margin: 80px 24px 0px 24px; */
  /* margin: 50% 0px 0px 0px; */
  /* text-shadow: 0 0 2px #e2e2e2; */
  border-width:0px 0 1px 0px;
  border-style:ridge;
  border-color: #e2e2e2;
  text-shadow: 0px 0px 2px black;
  /* border-radius: 0 0 32px 0; */
  /* padding-right: 22px; */
  /* width: 100%;
  height: 80%; */
  max-width: 500px;
  /* overflow-y: scroll; */
  /* writing-mode:sideways-lr; */
  /* text-orientation: mixed; */
  /* filter: drop-shadow(0 0 12px #e2e2e2); */
  /* line-height: 1.7em; */
  /* cursor: url('images/cursor_external.png') 8 8, pointer; */
}
#external:hover{
  /* border-style:inset; */
  /* border-width: 2px; */
  border-color: #33333300;
  /* background-color: #e2e2e2; */


}

#widecontent {
  width: 100%;
}

.close:hover,
.close:focus {
  color: #60fcae;
  text-decoration: none;
  cursor: pointer;
}

/* Hide the slides by default */
.mySlides {
  display: block;
  display: none;
  /* text-align: left; */
  margin: 15% 0 0 0;
}

.mySlides a, .mySlides p{
  text-decoration: none;
  font-size:28px;
  vertical-align: text-top;
  color: #333;
  line-height: 3em;
}

.description:hover{
  /* filter: blur(2px); */
  opacity: 100%;
  /* color:#333; */
  transition: 0.1s;
}
.long-text{
  /* width: 80%; */
  max-width: 50%;
  /* margin: auto; */
  /* word-break: break-all; */
  text-overflow: "-";
  margin: 5% 25%;

}

#date{
  font-family: italo;
  margin: 0 0 0 -6px;
  font-size: 8px;
  color:#333;
  padding: 0 2px;
  border-radius: 6px;
  border-color:#333;
  border-style: solid;
  border:none;
  border-width: thin;
}
#credits{
  font-size: 22px;
  line-height: 1.5em;
  font-family:italo;
  color:#e2e2e2;
}
#credits:hover{
  color:#333;
}

/* Caption text */
.caption-container {
  font-size:66px;
  padding: 2px 16px 16px 2px;
  color:#333;
  z-index:4;
  font-family: tex;
  width:100%;
}

.detail {
  display: block;
  color:#333;
  z-index:4;
  font-family: tex;
  margin: 11px 0;
}

#mini{
  font-size:12px;
}


@media screen and (min-device-width: 100px) and (max-device-width: 900px) {

  body{
    /* background-image: none; */
    background-color: #333;
    overflow-y: hidden;
    overflow-x: hidden;
    /* overflow-y: hidden;
    overflow-x: scroll; */
    /* overflow-y: hidden; */



  }

  .back2{
    z-index: 101;

    
  }

  .back2 img{
    /* overflow: hidden; */
    /* display: none; */
    /* filter: blur(4px); */
    opacity: 70%;
    width: 90%;
    height: 90%;
    /* border-radius: 22px; */
  }

  #about{
    
    text-shadow:0 0 14px #e2e2e2;
    mix-blend-mode: difference;

  }
  #about2{
    text-shadow:0 0 14px #e2e2e2;

    touch-action:none;
    max-width: 100%;
    mix-blend-mode: difference;
  }

  
  #container3D{
    display:none;
  }


  #credits{
    font-size: 60px;
    white-space: normal;
    word-break: normal;
  }

  .long-text{
    max-width: none;
    white-space: normal;
    /* width: 100%; */
  }

  .projects{
    overflow-y: hidden;
    overflow-x: scroll;
    /* display:grid; */
    /* margin-top:15%; */
    /* margin: 60px; */
    /* text-align: center; */
    max-width: 100%;
    /* margin-bottom: 40%; */
    /* flex-direction:row; */
    /* flex-flow: wrap; */
    /* overflow: scroll; */
    /* background-color: #333; */
    flex-wrap:wrap;
    flex-direction:column;


  }
  .projects a {
    /* margin: 10px; */
    font-size:66px;
    line-height: 1em;
    border-radius:100px;
    /* padding: 22px 42px; */
    /* text-align: center; */
    /* border-width: 2px; */
    
  }

  

  .description{
    max-width: 100%;
    
  }

  .back{
    /* opacity: 50%; */
  }


  .banner2 span {
    animation-delay: 10s;
  }
  audio { margin:0 0 0 5px; width:100%; height:100px;}
  audio source{
    height:100%;
    max-height: 100%;
  }

  .displayCaption{
    font-size: 50px;
    text-align: left;
    /* max-width: 500px; */
    line-height: 1em;
    display: grid;
    z-index: 1001;
    margin-top: 0 ;
    opacity: 75%;    
    
  }

  #list{
    height: 100%;
    position: relative;
    display: grid;
    /* overflow: hidden; */
    /* margin-top: 80%; */
    /* margin: 400px 0; */
    justify-content:flex-start;
    overflow: hidden;

    
    }
  #external{
    
    max-width: 100%;
    /* width: 100%; */
    /* border-radius: 0; */
    opacity: 100%;
    font-size:50px;
    /* max-height: 120px; */
    border-style: none;
    border-radius: 0;
    line-height: 1.5em;
    padding: 10 px;
    /* text-align: center; */
    /* margin:0 0px 0 40px; */
    /* border-color: #e2e2e2;
    border-style: outset;
    border-width: 0 0 6px 0; */
    text-shadow: none;
    margin: 0 60px;
    /* filter: drop-shadow(0 0 22px #e2e2e2); */
    /* color: #333; */
    background-color:red;
    /* max-width: 45px;   */
    /* height: 100%; */
    /* max-height: 70%; */
    overflow: hidden;

    /* background-image: url('images/main_bg-b.png'); */

  }
}


/* tal y tanto abajo */
