/* tal y tanto arriba */

@font-face {
font-family: tex;
src: url(fonts/texgyreheroscn-regular.otf);
}
@font-face {
font-family: tex-bold;
src: url(fonts/texgyreheroscn-bold.otf);
}
@font-face {
font-family: special;
src: url(fonts/shbshbpixel-italic-webfont.woff);
}

@font-face{
  font-family: italo;
  src: url(fonts/Junicode-ItalicCondensed.ttf);
}
::-webkit-scrollbar {
  display: none;
}
*{

  scrollbar-width:none;
  -ms-overflow-style:none;
    text-shadow: 0 0 12px #e2e2e2;

        }


::selection {
  color:#60fcae;
}

a:link:hover{
  cursor: pointer;
  color:#60fcae;
}

a:link:visited{
  color:#60fcae;
}



.contact:hover{
  /* color:#60fcae; */

  transition: 0.1s;
}
#ido{
  color:#777;
}

.loader{
  z-index:999;
  width:100%;
  height:100%;
  position: fixed;
  top:0;
  left:0;
  background-color:#60fcae;
  display:flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  color:#333;
  font-family: italo;
}

body {
  background-image: url("images/main_bg.png");
  margin:0;
  /* background: rgb(96,252,174);
  background: linear-gradient(0deg, rgba(96,252,174,1) 0%, rgba(242,242,242,1) 20%, rgba(242,242,242,1) 80%, rgba(96,252,174,1) 100%); */
}

.demo{
  /* margin: 2px; */
  cursor: url("intense-images/demo/img/plus_cursor.png") 25 25, pointer;
  display: inline-block;
  background-size: cover;
  background-position: 50% 50%; }

.twocolumn{
  /* margin-top: 111px; */
  display: grid;
  /* grid-template-columns: 50% 50%; */
  border-left:solid;
  border-width: thin;
  margin: 0 0 0 30%;
  z-index: 99999;
  align-items: baseline;
  border-color:#333;

  /* background-color: #999; */

}

.contact {
  font-size: 18px;
  /* position:fixed; */
  /* background-color: #60fcae; */
  font-family: tex;
  color: #e2e2e2;
  display: flex;
  justify-content: flex-start;
  line-height: 1.2em;
  /* position: fixed; */
  /* justify-content: center; */
  text-align: left;
  align-items: center;
  overflow: clip;
}


.bio, .reachout, .ido{
  font-size: 24px;
  /* display: flex;
  position: absolute;
  bottom:50%; */
  /* left:0; */
  /* padding-top:24px; */
  /* padding: 6px 0; */
  position: fixed;
  max-width: 30%;
  /* margin: 0 0 0 22px; */
  justify-content: center;
  text-align: left;
  align-items: center;
  /* text-shadow: px 0 0 #60fcae; */
  font-family: tex;
  color: #e2e2e2;
  line-height: 1.0em;
  bottom: 0;
  border-right: solid;
  border-color:#333;
  border-width: thin;
  /* background-color:#999; */
  /* backdrop-filter:blur(22px); */
  /* transform: rotate(-90deg)translateX(143px)translateY(-143px); */
}

.ido{
  bottom:24px;
}

.bio p, .bio img {
  /* max-width: 85%;
  margin:0 0 22px 22px; */
  margin:0 0 -4px -4px;

  /* max-width: 230px; */
}
.bio img{
  position: relative;

  width: 100%;
  object-fit: cover;
  display: block;

}


.bio a {
  margin-left: 4px;
}


.screen{
  z-index:4;
  isolation: isolate;
  mix-blend-mode: exclusion;
  /* mix-blend-mode: multiply; */
  /* mix-blend-mode: lighten; */
}

.screen img{
  pointer-events: none;
  object-fit: cover;
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: fixed;
  top: 0; left: 0; bottom: 0; right: 0;
  width: 100%;
  height: 100%;
  filter: blur(24px);
  /* opacity: 90%; */
  /* mix-blend-mode: hard-light; */
}

.imgcontainer{

  display: inline;
  /* display:flex; */
  /* flex-direction: column; */
  /* position:relative; */
  /* display:grid; */
  margin: 0;
  border-bottom:solid;
  border-width:thin;
  border-color:#333;

  /* background-color: #999; */
}
.projects, .description{
  font-family: tex;
  /* max-width: 500px; */
  text-decoration: none;
  color: #333;
  /* line-height: 1.3em; */
  /* border-top: solid; */
  border-bottom: solid;
  border-width: thin;

}

.description {
  font-size: 22px;
  font-family: italo;
  padding: 0;
  text-overflow: clip;
  overflow-x:  scroll;
  overflow-y: hidden;
  white-space: nowrap;
  border:none;
  /* word-break: break-all; */
  color:#333;
  /* line-height: 1.2; */
  /* color: #999; */
  text-decoration: none;
}

.description a{
  color:#333;

}

.description:hover{
  cursor: pointer;
}

.title{
  font-family: tex;
  /* background-color: white; */
  font-size: 18px;
  /* max-width: 200px; */
  /* border:solid;border-width:thin; */
}

#description:hover {
  filter:blur(2px);
}
.projects a {
  line-height: 10px;
}

.projects {
  font-size:22px;
  padding-bottom: 2px;
  /* padding: 0; */

}

#vertical {
  max-width: 30%;
}

.imgcontainer a {
   padding:0 22px 0 0;
}
.top{
  text-decoration: none;
  z-index: 2;
  position: fixed;
  bottom: 0;
  left:30%;
  font-family: italo;
  font-size: 22px;
  color:#e2e2e2;
  width: 100%;
  /* border-left: solid;
  border-width:thin;
  border-color:#333; */
  line-height: 22px;
  /* -webkit-backdrop-filter: blur(12px);
  backdrop-filter: blur(12px); */
  background:linear-gradient(90deg, #33333325 0%, #33333300 70%);
}

a{
  text-decoration: none;
}

/* .twocolumn a:hover{
  cursor:pointer;
} */
.banner {
  margin: 0;
  white-space: nowrap;
  overflow: hidden
  /* position: absolute; */
}

.banner span {
  display: inline-block;
  padding-left: 100%;
  animation: banner 20s linear infinite;

}

.banner2 span {
  animation-delay: 4s;
}

@keyframes banner {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-100%, 0);
  }
}


.modal {
  display: none;
  position: fixed;
  z-index: 7;
  text-align: center;
  /* padding-bottom: 122px; */
  left: 30%;
  /* top: 10%; */
  width: 70%;
  height: 100%;
  overflow-y: hidden;
  -webkit-backdrop-filter: blur(12px);
  backdrop-filter: blur(12px);
  /* background-color: rgba(96,252,174,0.8); */
  /* background-color: #99999950; */
  font-style: normal;
  margin:2px;
  /* backdrop-filter:blur(11px); */

  /* background-color: #e2e2e250; */

}

/* Modal Content */
.modal-content {
  /* max-width: 200px; */
  width: 100%;
  display: flex;
  overflow-y: scroll;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  margin: auto;
  /* max-height:85%; */
  /* max-width: 600px; */
  padding:11px 22px;
  border-color:#333;

  margin:0 0 111px 0px;
  background-color: #e2e2e250;
  /* box-shadow: 0 0 32px #33333350; */
}

.modal-content img{
  max-width: 400px;
  filter: drop-shadow(0 0 4px #33333370);

}


#widecontent {
  max-width: 40%;
  width: 100%;
}

/* The Close Button */
.close {
  /* background-color: red; */
  text-align: center;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  right: 0;
  line-height: 1;
  padding: 22px;
  color: #e2e2e2;
  font-size: 111px;
  font-weight: bold;
  z-index:4;
}

.close:hover,
.close:focus {
  color: #60fcae;
  text-decoration: none;
  cursor: pointer;
}

/* Hide the slides by default */
.mySlides {
  display: none;
  text-align: left;
  /* flex-wrap: wrap; */
  /* justify-content: space-between; */
  align-items: flex-start;
  flex-direction: column;
  flex-flow: wrap;
  /* max-width: 95%; */
  /* max-width: 400px; */
}

.mySlides a, .mySlides p{
  text-decoration: none;
  font-family: tex;
  font-size:26px;
  color: #333;
  text-align: left;
}

.description:hover{
  /* filter: blur(4px); */
  color:#60fcae;
  transition: 0.1s;
}
.long-text{
  max-width:80%;
  word-break: break-all;
  text-overflow: "-";
  white-space: pre-wrap;
  overflow: hidden;

}
#date{
  font-family: italo;
  font-size: 28px;
  color:#60fcae;
  padding: 0 2px;
  /* background-color: #999; */
}
#credits{
  font-size: 22px;
  color:#333;
  font-family:italo;
  /* background-color: #e2e2e250; */
  /* filter: brightness(200%); */
}

/* Caption text */
.caption-container {
  font-size:64px;
  padding: 2px 16px 16px 2px;
  color:#333;
  z-index:4;
  font-family: tex;
  width:100%;
}

.detail {

  /* padding: 11px 0 11px 0; */
  color:#333;
  z-index:4;
  font-family: tex;
  margin: 11px 0;
}

#mini{
  font-size:12px;
}


@media screen and (min-device-width: 200px) and (max-device-width: 800px) {
  .twocolumn{
    margin:0;
  }
  .contact{
    font-size:48px;
  }
  .bio, .reachout, .ido{
    position:relative;
    max-width: none;
    font-size: 64px;
  }
  .modal{
    left:0;
    width: 100%;
    background-color: rgba(119,119,119,0.8);
    overflow-x: hidden;
  }
  .mySlides a{
    font-size: 64px;
  }
  .modal-content img, video{
    max-width: none;
  }
  #widecontent, #vertical{
    max-width: none;
  }
  .title{
    font-size: 32px;
  }
  #date{
    font-size:32px;
  }
  .description{
    text-shadow: 0px 0px 12px #777;
  }
}

/* tal y tanto abajo */
