@font-face {
  font-family: tex;
  /* src: url(fonts/texgyreheroscn-regular.otf); */
  src: url(../../fonts/texgyreheros-regular.otf);
  
}
*{
  font-family: tex;
}

p {
  color:#e2e2e2;
  font-size: 12px;
  padding-left: 12px;
  margin-top:22px;
  max-width: 180px;
}
.backdrop{
  /* position: fixed; */
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
  z-index: -1;
  /* background-color: red; */
  background-color: none;
  /* margin-top: -3px; */

}

#canv_original{
  display: none;
  position: fixed;
  margin: -10px;
  pointer-events: none;
  filter: blur(2px);
  z-index: -2;
  
}

body{
  margin: 0;
  width: 100%;
  height: 100%;
  background-color: black;

}


.info{
  position: fixed;
  width: 100%;
  /* max-width: 120px; */
  /* background-color: red; */
  /* top: 50%; */
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
  /* align-content: center; */
  /* padding: 22px; */
  /* margin: 32px 22px 0 22px; */
  /* border-radius: 12px; */
  /* backdrop-filter: blur(12px); */
  /* filter: drop-shadow(#33333350 0 0 16px); */
}

#buttontp{
  color:#e2e2e2;
  border-style:none;
  background-color:#e2e2e200;
  text-align: left;
  /* border-radius: 0 12px 0 0; */
  width: 100%;
}
#buttontp:hover{
  cursor: pointer;
}

#slider, #buttontp{
  /* background:#e2e2e250; */
  font-size:18px;
  width:120px;
  padding:24px;
}

#report, #lr{
  color:#e2e2e2;
  font-size: 18px;
  /* font-family: Arial, Helvetica, sans-serif; */
  text-align: left;
  padding:24px;
  /* text-shadow: 0 0 14px #e2e2e2; */
}

.drop, #drop-area{
  z-index: 0;
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
  /* background-color: red; */
  width: 100%;
  height: 100%;
  opacity: 0;
}


@media screen and (min-device-width: 100px) and (max-device-width: 900px) {
  #slider, #buttontp{
    font-size:56px;
    width:100%;
    padding:56px;
    /* margin: 52px 32px; */
    text-shadow: 0 0 14px #e2e2e2;
    text-align: left;
    border-radius: 32px 32px 0 0;


  }

  #report, #lr{
    color:#e2e2e2;
    font-size: 56px;
    /* font-family: Arial, Helvetica, sans-serif; */
    padding:56px;
    text-shadow: 0 0 14px #e2e2e2;
  }
}