@font-face {
  font-family: terminal;
  src: url("../fonts/texgyreheros-regular.otf");
}
@font-face {
  font-family: cirrus;
  src: url("CirrusCumulus.woff") format("woff");
}
body {
  background: rgb(182,182,182);
  background: radial-gradient(circle,#333 35%, #e2e2e2 100%);
  /* background-image: url("../images/main_bg-b.png"); */
  /* display: grid; */
  margin: 0;

}
nav {
  position: fixed;
  align-items: center;
  text-align: center;
  /* display: grid; */
  /* line-height:40px; */
  width: 100%;
  justify-content: center;
  align-content: center;
  height: 100%;
  top:0;

  /* margin:50px; */
  /* background-color: red; */
}

a{
  display: grid;
  justify-content: center;
  font-family: terminal;
  font-size: 24px;
  color: #f3f3f3;
  text-decoration: none;
  padding: 11px;
  /* background-color: red; */

}
p {
  max-width: 280px;
  margin: 32px auto;
  text-align: center;
  margin-bottom: 10px;
  font-family: terminal;
  font-size: 16px;
  color: #e2e2e2;
  text-decoration: none;
}

a{
  transition: .3s;
}
a:hover {
  /* padding-left: 100px; */
  /* font-family: cirrus; */
  color: #12fc35;
}

a.credits {
  justify-content: center;
  text-align: center;
  /* border-radius: 25px; */
  border: dashed 0.6px;
  text-decoration: none;
  font-family: terminal;
  line-height: 22px;
  z-index: 99;
  font-size: 16px;
}


div{
  text-decoration: none;
  font-family: terminal;
  line-height: 25px;
  position: fixed;
  bottom: 50px;
  right: 50px;
  z-index: 99;
  border: dashed 0.6px;
  color: white;
  padding: 10px;
  font-size: 18px;
}
div.credits{
  border: none;
  padding:0;
}
.titre {
  font-family: terminal;
  max-width: 200px;
  position: fixed;
  bottom: 50px;
  left: 50px;
  font-size:16px;
  border:none;
  color: #e2e2e2;
}
