/* tal y tanto arriba */

@font-face {
font-family: tex;
src: url(../fonts/texgyreheroscn-regular.otf);
}
@font-face {
font-family: tex-bold;
src: url(../fonts/texgyreheroscn-bold.otf);
}
@font-face {
font-family: tex-it;
src: url(../fonts/texgyreheroscn-italic.otf);
}
::-webkit-scrollbar {
  display: none;
}
*{
  scrollbar-width:none;
  -ms-overflow-style:none;
  overflow-x: hidden;
  overflow-y: hidden;
  text-align: center;

          font-family: tex;
          color:#999;
          /* mix-blend-mode: exclusion; */

        }

::selection {
  color:#60fcae;
}
.loader{
  z-index:999;
  width:100%;
  height:100%;
  position: fixed;
  top:0;
  left:0;
  background-color:#999999;
  display:flex;

  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-family: tex;
}
.loader p {
  color: #60fcae;
}
.screen{
  position: fixed;
  z-index:5;
  isolation: isolate;
  mix-blend-mode: color-dodge;
}

.screen img{
  pointer-events: none;
  object-fit: cover;
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: fixed;
  top: 0; left: 0; bottom: 0; right: 0;
  width: 100%;
  height: 100%;
  /* filter: blur(11px); */
  opacity: 80%;
  /* mix-blend-mode: exclusion; */
}
.location, .location iframe{
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: fixed;
  width: 110%;
  height: 110%;
  top: 0; left: 0; bottom: 0; right: 0;
  position: fixed;
  z-index:3;
  /* pointer-events: none; */
  mix-blend-mode: overlay;
  /* left: 50%;
  transform: translate(-50%, 0);
  position: absolute; */
}

.left {
  position: absolute;
  left: 0;
  width: 50%;
  bottom: 50px;
  /* transform: translate(0px, 25px); */
}
.right {
  position: absolute;
  right:0;
  width: 50%;
  bottom: 50px;
  /* transform: translate(0px, 25px); */
}

.p5Canvas{
  pointer-events: auto;
  position: relative;
  /* background: radial-gradient(circle, #60fcae, 10%, #c3c9c6, 80%, #c3c9c600); */

  /* border-radius: 211px; */
  padding: none;
  /* -webkit-backdrop-filter: blur(6px); */
  /* backdrop-filter: blur(6px); */
  box-shadow: 0px 0px 66px #33333330;

  z-index:5;

}

.about{
  position: absolute;
  text-align: center;
  align-items: center;
  justify-content: center;
  top:5%;
  width: 100%;
  z-index: 6;
  font-size: 13px;
  display: grid;
  /* grid-template-columns: 50% 50%; */

}

.about p{
  /* opacity: 25%;
  -webkit-opacity: 0.25; */
  color:#f1f1f1;
}

.about p:hover{
  cursor: pointer;
}

body{



  /* filter: blur(1px); */

  /* background: radial-gradient(circle, rgba(96,252,174,1) 12%, rgba(215,255,235,1) 92%); */
  /* background: radial-gradient(circle, #60fcae, 5%, #c3c9c6, 50%, #c3c9c6); */
  /* background-color: #333; */
  background-size: 50% 50%;
  margin:0px;
  -webkit-animation: AnimationName 8s ease infinite;
  -moz-animation: AnimationName 8s ease infinite;
  animation: AnimationName 8s ease infinite;
}

.button {
  pointer-events: auto;
  position: relative;
  z-index: 5;
  align-items: center;
  /* border-radius: 500px; */
  border:none;
  width: 220px;
  height: 220px;
  border-radius: 500px;
  color: #999999;
  transition: 0.3s;
  font-size: 10px;
  transition: 0.5s;
}

.stopbutton{
  position: relative;
  z-index: 5;
}

.stopbutton:hover, .button:hover{
  cursor: pointer;
  /* background-color:#c3c9c650; */
  filter:drop-shadow(0 0 22px #60fcae);
  color: #999999;
  /* box-shadow: 0px 0px 80px #FFCCBC50; */
  /* filter: blur(4px); */
  /* background-color: #c3c9c6; */
}

.modal {
  display: none;
  position: fixed;
  z-index: 7;
  /* text-align: left; */
  /* padding-bottom: 122px; */
  /* left: 50%; */
  /* top: 0; */
  width: 100%;
  height: 100%;
  overflow-y: hidden;
  /* background-color: #99999950; */
  /* -webkit-backdrop-filter: blur(6px); */
  /* backdrop-filter: blur(6px); */

  font-style: normal;
}

/* Modal Content */
.modal-content {
  display: flex;
  flex-direction:column;
  flex-wrap: wrap;
  overflow-y: scroll;
  position: fixed;
  /* top: 16%; left: 0; bottom: 0; right: 0; */
  bottom: 0;
  margin: auto;
  width: 100%;

  /* max-height:85%; */
  /* max-width: 50%; */
  /* margin:24px 24px; */
  /* filter: drop-shadow(0px 0px 12px #60fcae75); */
}

/* Hide the slides by default */
.mySlides {
  display: none;
  flex-direction: row;
  /* text-align: center; */
  -webkit-backdrop-filter: blur(6px);
  backdrop-filter: blur(6px);
  /* background: linear-gradient(0deg, #f1f1f1 12%, rgba(215,255,235,1) 92%); */
  border-radius: 22px 22px 0px 0px;
  padding: 11px 12px;
  /* margin: 22px; */
  /* max-width: 400px; */
  cursor: default;
}

.mySlides a, .mySlides p{
  text-decoration: none;
  width: 50%;
  padding: 0 22px;
  font-family: tex;
  font-size:15px;
  color: #60fcae;
  text-align: left;
}

.credits{
  margin:none;
  -webkit-backdrop-filter: blur(6px);
  backdrop-filter: blur(6px);
  color:#f1f1f1;
  font-size: 14px;
}

.mySlides i, b{
  color: #f1f1f1;
}

#en, #sp{
  /* filter:blur(4px); */
  opacity: 25%;
  transition: 0.5s;
}
#en:hover, #sp:hover{
  filter:none;
  opacity: 100%;
}


@-webkit-keyframes AnimationName {
    0%{background-position:50% 50%}
    50%{background-position:50% 50%}
    100%{background-position:50% 50%}
}
/* @-moz-keyframes AnimationName {
    0%{background-position:50% 0%}
    50%{background-position:50% 100%}
    100%{background-position:50% 0%}
}
@keyframes AnimationName {
    0%{background-position:50% 0%}
    50%{background-position:50% 100%}
    100%{background-position:50% 0%} */
}
